@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cairo&display=swap');

$primary: hsl(43, 88%, 61%);
$white: hsl(0, 0%, 90%);
$black: hsl(0, 0%, 10%);
$text: hsl(0, 0%, 15%);
$lightgray: hsla(0, 0%, 58%, 0.09);

$transition: 0.5s;

$padding: 4.5rem;
$padding768: 2.5rem 0;

$font-family-h: 'Bungee', cursive;

$font-family: 'Cairo', sans-serif;