@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cairo&display=swap');

$primary: #f3c242;
$white: #fff;
$black: #000;
$text: #3a3a3a;
$lightgray: #95959517;

$transition: 0.5s;

$padding: 4.5rem;
$padding768: 2.5rem 0;

$font-family-h: 'Bungee', cursive;

$font-family: 'Cairo', sans-serif;